<!doctype html>
<html>
    <include("./partials/page-start.marko") title="${data.title}" />
    <body>
        <table if(data.items.length) border="1">
            <tr>
                <th>Date</th>
                <th>Locations Count</th>
                <th>Weather Count</th>
            </tr>
            <tr for(item in data.items)>
                <td>${item._id}</td>
                <td>${item.locationRequestsCount}</td>
                <td>${item.weatherRequestsCount}</td>
            </tr>
        </table>
        <include("./partials/page-end.marko") />
    </body>
</html>
