<!doctype html>
<html>
    <include("./partials/page-start.marko", {css : ['weatherapp']}) version="${data.version}" title="${data.title}" />
    <body>
        <div id="app" class="site-content"></div>
        <include("./partials/page-end.marko", {scripts : ['manifest', 'vendor', 'home']}) version="${data.version}" />
    </body>
</html>
