<!doctype html>
<html>
    <include("./partials/page-start.marko", {css : ['weatherapp']}) version="${data.version}" />
    <body>
    	<div id="homes" class="site-content">
            <include("./partials/test.marko") />
        </div>
        <include("./partials/page-end.marko", {scripts : ['home']}) version="${data.version}" />
    </body>
</html>
